form(action="/todos", method="GET")
  input(type="text",name="q",value=keyword?keyword:"")
  button(type="submit") Search

ul
  each item in todoList
    li= item.content
form(action="/todos/create", method="POST")
  input(type="text",name="content")
  button(type="submit") Create

